@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.download-button {
    margin: 10px;
}
  
.container-fluid {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  margin-right: 100px;
  max-width: 1400px;
}

h1 {
  font-weight: 800;
  /* margin-bottom: 10px; */
  color: white; /* Dark gray for headings */
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: white; /* Medium gray for paragraph text */
}

h3 {
  color: white;
}


#download {
  margin-bottom: 50px;
  align-items: center;
  margin: 0 auto 0 auto;
}

#privacyPolicy{
  margin: 20px 0;
  margin: 0 auto 0 auto;
}

.img-fluid {
  width: 40%;
  margin-bottom: 10px;
  /* height: auto; */
}
.icon{
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
  height: auto;
  text-align: center;
}

.shecanImg {
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures vertical alignment */
  gap: 10px; /* Optional: adds some space between the items */
}

.button-container {
  text-align: center;
}

.copyright {
  font-size: small;
  color: white;
  text-align: center;
  align-items: center;
}

.enlarged {
  transform: scale(1.5);
  transition: transform 0.25s ease;
}

img {
  transition: transform 0.25s ease;
  cursor: pointer;
  /* Add other default image styles */
}

body {
  background-image: url('../assets/background.webp'); /* Ensure this path matches the actual location */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; /* Ensures text is readable on dark backgrounds */
  font-family: 'Vazir' , sans-serif !important;
}

@media (max-width: 768px) {
  .enlarged {
    transform: scale(1.5);
  }
  .img-fluid {
    width: 70%;
    margin-bottom: 10px;
    /* height: auto; */
  }
}

img {
  transition: transform 0.25s ease;
  cursor: pointer;
}