.download-button {
    margin: 0;
}
  
.container-fluid {
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  margin-right: 100px;
  max-width: 1400px;
}

h1 {
  font-weight: 800;
  /* margin-bottom: 10px; */
  color: #333333; /* Dark gray for headings */
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #666666; /* Medium gray for paragraph text */
}



#download {
  margin-bottom: 50px;
  align-items: center;
  margin: 0 auto 0 auto;
}

#privacyPolicy{
  margin: 20px 0;
  margin: 0 auto 0 auto;
}

.img-fluid {
  width: 30%;
  margin-bottom: 10px;
  /* height: auto; */
}
.icon{
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
  height: auto;
  text-align: center;
}

.shecanImg {
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures vertical alignment */
  gap: 10px; /* Optional: adds some space between the items */
}

.button-container {
  text-align: center;
}

.copyright {
  font-size: small;
  color: #000000;
  text-align: center;
  align-items: center;
}
